* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

button {
  color: #fff;
  border: 0;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.add-button {
  background: #7159c1;
}

.delete-button {
  margin: 0 15px;
  background: #ca4949;
}

.container {
  width: 50%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}

.repo-item {
  list-style-type: none;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.repo-title {
  font-size: 18px;
  font-weight: 600;
}